<div class="jumbotron login_wrapper  min-vh-100">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 offset-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-center card-title">LOGIN</h5>
                        <hr />
                        <form #login="ngForm"  (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Username</label>
                                <input  type="text" class="form-control" name="username" minlength="4" required
                                    [(ngModel)]="loginForm.username" #name="ngModel" />
                                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
                                    <div *ngIf="name.errors.required">
                                        Name is required.
                                    </div>
                                    <div *ngIf="name.errors.minlength">
                                        Name must be at least 4 characters long.
                                    </div>
                                </div>
                            </div>

                            <!-- Password -->
                            <div class="form-group">
                                <label for="exampleInputEmail1">Password</label>
                                <input type="password" class="form-control" name="password" minlength="4" maxlength="8"
                                    required [(ngModel)]="loginForm.password" #password="ngModel" />
                                <div *ngIf="password.invalid && (password.dirty || password.touched)"
                                    class="text-danger">
                                    <div *ngIf="name.errors.required">
                                        Password is required.
                                    </div>
                                    <div *ngIf="name.errors.minlength">
                                        Password must be at least 4 characters long.
                                    </div>
                                </div>
                            </div>

                            <button type="submit" [disabled]="login.invalid" class="btn btn-primary">Login</button>



                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>